@*
* This template takes a single argument, a String containing a
* message to display.
*@

@(roomId: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Chat Room") {
    <section id="app">
        <p>
          <input type="text" v-on:keydown.enter="onEnter">
        </p>
        <p>Messages:</p>
        <p v-for="msg in messages">
            {{ msg }}
        </p>
    </section>
    <script>
        const heartbeatMsg = "server.heartbeat"
        let wsUri = "ws://" + window.location.host + window.location.pathname + "/ws";
        console.log(wsUri);
        let socket = new WebSocket(wsUri);

        const app = new Vue({
            el: '#app',
            data: {
                messages: [],
            },
            created(){
                socket.onmessage = ev => {
                    console.log("from socket: " + ev);
                    if (ev.data === heartbeatMsg) return;
                    this.messages.push(ev.data);
                }
            },
            methods: {
                onEnter(e) {
                    const msg = e.target.value;
                    e.target.value = "";

                    console.log("Local: " + msg);
                    socket.send(msg);
                }
            }
        })
    </script>
}
